@{
    ViewData["Title"] = "Trang chủ";
}

@model Hotel_Booking.Models.DTO.HomeViewDto

@{
    var hotelWithImages = Model.HotelWithImageViewDtos;
    var provinces = Model.Provinces;
    var hotelName = Model.HotelName;
    var hotelCapacity = Model.HotelCapacity;
}

<h3 class="mt-5">Lựa chọn khách sạn dành cho bạn</h3>

<form asp-controller="Home" asp-action="Index" class="row mb-5 mt-3 align-items-center">
    <div class="col-4">
        <select class="form-select" name="province">
            @foreach (var province in provinces)
            {
                <option value="@province.Name">@province.Name</option>
            }
        </select>
    </div>
    <div class="col-4">
        <input class="form-control" placeholder="Nhập tên khách sạn" type="text" value="@hotelName" name="hotelName" />
    </div>
    <div class="col-4">
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </div>
</form>

<div class="home d-flex gap-2 mb-5">
    @foreach (var hotel in hotelWithImages)
    {
        <a class="hotel card text-decoration-none"
           asp-controller="Hotels"
           asp-action="Detail"
           asp-route-id="@hotel.Hotel.Id" style="width: 30%">
            <div style="width: 100%; height: 200px">
                <img src="@hotel.ImageUrl" alt="@hotel.Hotel.Name" style="width: 100%; object-fit: contain; height: 200px">
            </div>
            <div class="container">
                <h4><b>@hotel.Hotel.Name</b></h4>
                <p>@hotel.Hotel.Address</p>
                <p>@hotel.Hotel.Phone</p>
            </div>
        </a>
    }
</div>


